/*------Newsletter Form--------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/intl-tel-input@26.0.6/build/css/intlTelInput.css");
@import url("https://code.jquery.com/ui/1.14.2/themes/base/jquery-ui.css");

#newsletter-container .gdlr-item-title-wrapper {
	margin-bottom: 20px;
	text-transform: uppercase;
}
#newsletter_form_title .gdlr-item-title-wrapper {
	line-height: 1.3em;
}
#newsletter_form_title p {
	font-size: 18px;
	color: #EEE;
}
#newsletter-form {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	color: #EEE;
	max-width: 1024px;
	margin: 0 auto;
}
#newsletter-form .form-group {
	width: 44%;
	margin: 10px 3%;
}
#newsletter-form .form-group-button {
	width: 100%;
	text-align: center;
}
#newsletter-form > .input-group {
	margin: 25px auto 0;
	width: 94%;
}
#newsletter-form > .input-group ~ .input-group {
	margin: 5px auto 0;
}
#newsletter-form input[type="text"], #newsletter-form input[type="email"], #newsletter-form input[type="password"], #newsletter-form input[type="tel"], #newsletter-form textarea, #newsletter-form select {
	background-color: #FFF;
	border: 1px solid #FFF;
	color: #000;
}
#newsletter-form .iti--inline-dropdown {
	width: calc(100% - 58px);
}
#newsletter-form .mobile-label {
	width: 58px;
	display: inline-block;
}
#newsletter-form input[type="checkbox"] {
	width: 15px;
	vertical-align: bottom;
	float: left;
	margin-right: 8px;
	margin-top: 5px;
}
#newsletter-form .checkbox p {
	float: left;
	width: calc(100% - 23px);
	font-size: 14px;
	margin-bottom: 0;
}
#newsletter-form .checkbox {
	margin-bottom: 1rem;
}
#newsletter-form .form-group-footnote {
	font-size: 14px;
}
#newsletter-form .display-none {
	display: none;
}
#newsletter-form #error-msg {
	width: 100%;
	margin-top: .25rem;
	font-size: .875em;
	color: var(--bs-form-invalid-color);
}
#newsletter-form .btn-primary {
	background-color: #FFF;
	border-color: #FFF;
	color: #000;
}
#newsletter-form a {
	color: #FFF;
}
#newsletter-form a:hover {
	color: #CCC;
}
#newsletter_form_response {
	display: none;
}
.newsletter-response-content {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	min-height: 40vh;
	color: #EEE;
}
@media (max-width: 800px) {
	#newsletter-container {
		padding-top: 120px !important;
	}
	#newsletter-container .gdlr-item-title-wrapper h3 {
		font-size: 26px;
	}
	#newsletter-container .gdlr-item-title-wrapper.pos-center .gdlr-item-caption {
		font-size: 18px;
	}
	#newsletter-container .container {
		max-width: 98% !important;
	}
	#newsletter-container .gdlr-item {
		margin: 0px 0px 20px;
	}
	#newsletter-form .form-group {
		width: 84%;
		margin: 10px 8%;
	}
}
/*-----End Nesletter Form------*/
